.index-box{
    height: 375px;
}
.box-item{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 14px;
}
.text-muted {
    color: #a7a7a7;
}
.listpic-text{
    overflow: hidden;
    width: 100%;
    /*height: 3em;*/
}
