#head {
    background: #181015 url( ../images/bg_header.jpg) no-repeat;
    background-size: cover;
    min-height: 520px;
    text-align: center;
    color: white;
    font-weight: 300;
    position: relative;
    border-top: 1px solid #0b9ff3;
    background-position-x: center;
}

#head.secondary {
    height: 100px;
    min-height: 100px;
    padding-top: 0px;
}

#head .lead {
    font-size: 44px;
    margin-bottom: 6px;
    color: white;
    line-height: 1.15em;
}

#head .tagline {
    color: rgba(255,255,255,0.75);
    margin-bottom: 25px;
}

#head .tagline a {
    color: #fff;
}

#head .btn {
    margin-bottom: 10px;
}

#head .btn-default {
    text-shadow: none;
    background: transparent;
    color: rgba(255,255,255,.5);
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
    background: transparent;
}

#head .btn-default:hover,
#head .btn-default:focus {
    color: rgba(255,255,255,.8);
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
    box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
    background: transparent;
}

#head .btn-default:active,
#head .btn-default.active {
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
    -moz-box-shadow: inset 0px 0px 0px 3px #fff;
    box-shadow: inset 0px 0px 0px 3px #fff;
    background: transparent;
}