.title{
    text-align: center;
}
.pull-right {
    float: right;
}
.author{
    padding-top: 1em;
    color: #58666e;
    /*border-bottom: 1px solid #a1a1a1;*/
}
.author-right{
    position: relative;
    text-align: right;
    margin-bottom: -0.5em;
    right: 5%;
}
.document-view{
    color: #444444 !important;
    max-width:1024px;
    margin-left: auto;
    margin-right: auto;
}
.list-index{
    width: 1024px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.field-document-cate{

    padding-left: 20px;
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.field-document-cate label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}
.item{
    border-top: 1px solid rgba(204, 204, 204, 0.12);
    padding: 1em 1em;
}

@media screen and (min-width: 768px) {
    .sm-input {
        width: 33% !important;
    }

    .md-input {
        width: 66% !important;
    }
    .lg-input {
        width: 90% !important;
    }
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
    .button-center{
        margin-left: 33%;
    }

}
