.img-all {
    margin-top: 20px;
     margin-left: 0px;
    padding: 2%;
}

.img-item {
    /*margin-bottom: 20px;*/
border: white 4px solid;
    max-width: 20%;
    float: left;
}
.img-all .img-wrap {
    background-color: #fff;
}
.img-all .img-edit {
    position: absolute;
    top: 9px;
    right: 26px;
}
.img-all .img-edit .img-tip {
    position: relative;
    z-index: 50;
    display: block;
    width: 19px;
    height: 19px;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #D6D6D6;
    box-shadow: 0 0 2px rgba(0,0,0,.15);
}
.img-all .img-edit .img-tip .glyphicon-remove {
    font-size: 17px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.img-all .img-main {
    margin-bottom: 5px;
    background-color: #fff;
}
.create_pic{
    padding: 5px 50px;
}